{% load i18n %}
{% include "cuescience_shop/success.html" %}
<p>
    {% blocktrans %}
        You will be redirected to confirm your payment.
        If the automatic redirection didn't work, click on following link:
    {% endblocktrans %}
    </p>
    <p><a href="{{ order.payment.approval_url }}">{% trans "Confirm payment" %}</a></p>
<script type="text/javascript">
    $(document).ready(function() {
        window.location.replace("{% url 'payment:redirect' order.payment.pk %}")
    })
</script>